<form [formGroup]="usageInstructionsForm">

  <mat-form-field>
    <input matInput placeholder="Frequency" aria-label="Frequency" formControlName="frequency" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let frequency of filteredFrequencies$ | async" [value]="frequency.id">
        <span>{{frequency.name}}</span> |
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div formArrayName="dosages">
    <div *ngFor="let dosage of dosages.controls; let i=index">
      <mat-form-field>
        <input matInput type="number" placeholder="Dosage {{i}}" aria-label="Dosage" [formControlName]="i">
      </mat-form-field>
    </div>
  </div>

  <button mat-flat-button type="submit">Save</button>

</form>
